
html {background-color: #a5b2b4;
}

body {
    margin: 0; 
}




.banner {
    width: 100%;
    height: 400px; 
    overflow: hidden; 
    position: relative; 
}

.banner img {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0; 
    transition: opacity 1s ease; 
}

.banner img.active {
    opacity: 1; 
}


/* Estilos para el encabezado */
header {
    background-color: #328ca7;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .logo {
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
  }
  .logo img {
    width: 50px;
    margin-right: 10px;
  }
  
  h2 {
    margin: 0;
    font-size: 1.5rem;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
  }
  nav ul li {
    margin: 0 15px;
  }
  nav ul .nav-link {
    text-decoration: none;
    color: #65003e;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  nav ul .nav-link:hover {
    color: #ffd000;
  }
  
  @media only screen and (max-width: 600px) {
    header {
      padding: 10px;
    }
    .logo img {
      width: 40px;
      margin-right: 5px;
    }
    h2 {
      font-size: 1.2rem;
    }
    nav ul {
      flex-direction: column;
      align-items: center;
    }
    nav ul li {
      margin: 10px 0;
    }
  }

nav ul li a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    position: relative;
    font-size: 1em; 
}

/* Agrega el icono antes de los enlaces */
nav ul li a::before {
    content: "\f0c9"; 
    font-family: "Font Awesome";
    font-size: 1.5em;
    margin-right: 0.5em;
}


nav ul li a:hover::before {
    opacity: 0; 
}





footer {
    background-color: #2db4ad;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.container p {
    margin: 0;
}
@media screen and (max-width: 768px) {
    .container p {
        font-size: 14px;
    }
}

@media screen and (max-width: 576px) {
    .container p {
        font-size: 12px;
    }
}


/* Estilos para el modo oscuro */
.dark-mode body {
  background-color: #111;
  color: #fff;
}

.dark-mode header {
  background-color: #000000;
}

.dark-mode nav ul li a {
  color: #fff;
}

/* Estilos para el botón oscuro */
#dark-mode-icon {
  width: 2em; 
  height: auto; 
  position: fixed;
  top: 1em;
  right: 1em; 
  z-index: 999;
}

.modonegro {
  position: fixed;
  top: 1em; 
  right: 1em;
  z-index: 999;
}

.modonegro button {
  background: none;
  border: none;
  padding: 0;
}

.modonegro img {
  width: 2em; 
  height: auto; 
}
/* Estilos para el modo oscuro */
.dark-mode footer {
  background-color: #000000; 
  color: #fff; 
}
/* Estilos para el botón oscuro */
#dark-mode-icon {
  cursor: pointer; 
}
/* Estilos para el botón oscuro */
#dark-mode-icon:hover {
  filter: brightness(120%); 
}
body {
  filter: brightness(var(--brightness)); 
}


.contenido {
  text-align: center;
  padding: 20px;
}

.contenido h2 {
  font-size: 24px; 
  color: #333; 
  margin-bottom: 10px; 
}

.contenido p {
  font-size: 16px; 
  color: #666; 
  line-height: 1.5; 
}











.catalogo {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #99282818;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.catalogo h2 {
  text-align: center;
}

.catalogo ul {
  list-style: none;
  padding: 0;
}


.catalogo li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #e9ab00be;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer; 
  transition: transform 0.2s ease;
}

.catalogo li:hover {
  transform: scale(1.05); 
}


.catalogo img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 5px; 
}




#sugerirJuegoForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  background-color: #058a6d;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

#sugerirJuegoForm input[type="text"],
#sugerirJuegoForm textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ced4da;
  border-radius: 5px;
  box-sizing: border-box;
}

#sugerirJuegoForm button[type="submit"] {
  background-color: #4b4857;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#sugerirJuegoForm button[type="submit"]:hover {
  background-color: #ffbb00;
}

#mensajeExito {
  margin-top: 10px;
  color: #155724;
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
  border-radius: 5px;
  padding: 10px;
  display: none;
}

#mensajeExito,
#mensajeError {
    margin-top: 10px;
    color: #116e27;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    border-radius: 5px;
    padding: 10px;
    display: none;
    text-align: center; 
    margin: 0 auto; 
    max-width: 400px; 
}

#mensajeError {
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
}
#sugerirJuegoForm {
  max-width: 400px;
  margin: 0 auto; 
  padding: 20px;
  border: 1px solid rgb(95, 114, 0);
  border-radius: 5px;
  margin-bottom: 30px;
  margin-top: 20px; 
}

.sugerirjuego {
  padding-top: 20px;
  text-align: center;
}
#sugerirJuegoForm {
  max-width: 400px; 
  margin: 0 auto; 
  padding: 20px;
  border: 1px solid #07067a;
  border-radius: 5px;
  text-align: center; 
  margin-bottom: 20px; 
}

#sugerirJuegoForm img {
  max-width: 100%; 
  margin-bottom: 10px; 
}









section {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#texto {
    width: 70%;
    font-size: 20px;
}

#foto {
    width: 28%;
}

#foto img {
    width: 100%;
    border-radius: 10px;
}







#slider{
  margin: 0 auto;
  width: 800px;
  height: 500px;
  overflow:hidden;
  background-color: black;
  
}

#slider img{
  margin: 0 auto;
  -moz-transition: opacity 2s;
  -webkit-transition: opacity 2s;
  transition: opacity 2s;
  width: 800px;
  height: 500px;
  position: absolute;
  opacity: 0;
}

#slider img:nth-child(1){
  opacity: 1;
}

table{
  margin: 0 auto;
  width: 800px;
  height: auto;
  overflow:hidden;
  background-color: white;
  border: 0;
}

#izquierda{
  text-align: right;
  
}
#derecha{
  text-align: left;
}

footer {
  margin-top: 50px;
}
















#personaje {
  position: absolute;
  top: 300px; 
  right: 20px; 
  z-index: 9999;
  width: 200px;
  height: 200px;
  overflow: hidden; 
}

#personaje img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  filter: drop-shadow(0 0 10px rgba(54, 0, 179, 0.5)); 
}

#dialogo {
  position: fixed !important; 
  top: 50% !important; 
  right: 20px !important; 
  transform: translateY(-50%) !important; 
  width: 200px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: none;
  z-index: 99999; 
}


#personaje img:nth-child(2) {
  display: none;
}











.containerjuego {
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #333;
}

.options {
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  margin: 0 5px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
}

button.rock {
  background-color: #f44336;
  color: #fff;
}

button.paper {
  background-color: #2196f3;
  color: #fff;
}

button.scissors {
  background-color: #4caf50;
  color: #fff;
}

#result {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}








.contact-container {
  max-width: 400px;
  margin: 20px auto; 
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 15px;
}

.icon {
  width: 40px;
  height: auto;
  vertical-align: middle;
  margin-right: 10px;
  border-radius: 50%;
}

.text {
  font-size: 16px; 
  color: #333; 
  font-weight: bold; 
}

a {
  display: inline-block;
  text-decoration: none;
  color: #fff; 
  padding: 10px 20px;
  border-radius: 5px; 
  transition: background-color 0.3s ease; 
}

a:hover {
  background-color: #0056b3;
}
